<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Cadastro Cliente</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container text-center mt-2">
    <a th:href="@{/}" class="link-primary text-center">Voltar</a>
</div>
<h1 class="display-5 text-center my-4">Listagem de Clientes</h1>
<div class="container">
    <div class="d-flex justify-content-center my-4">
        <a th:href="@{/customers/form}" type="button" class="btn btn-outline-primary">Cadastrar Cliente</a>
    </div>
    <div th:unless="${customers.size() > 0}" class="alert alert-info">
        Nenhum cliente encontrado!
    </div>
    <table th:if="${customers.size() > 0}" class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome Completo</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Nº Viagens</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer: ${customers}">
            <td th:text="${customer.getId()}"></td>
            <td th:text="${customer.getName()}"></td>
            <td th:text="${#dates.format(customer.getBirthDate(), 'dd/MM/yyyy')}"></td>
            <td th:text="${customer.getTravels()}"></td>
            <td>
                <a type="button" th:href="@{/customers/delete/{id}(id=${customer.getId()})}" class="btn btn-danger">Excluir</a>
                <a type="button" th:href="@{/customers/form(id=${customer.getId()})}"
                   class="btn btn-info">Editar</a>
                <a type="button" th:href="@{/customers/{id}(id=${customer.getId()})}"
                   class="btn btn-warning">Detalhes</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>