<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Detalhes Cliente</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container text-center mt-2">
    <a th:href="@{/customers}" class="link-primary text-center">Voltar</a>
</div>
<h1 class="display-5 fw-bold text-center mb-5">Detalhes do Cliente</h1>
<div class="container">
    <h2 th:text="${customer.getName()}"></h2>
    <div class="row py-1">
        <div class="col-6">
            <b>Data de Nascimento: </b>
            <p th:text="${#dates.format(customer.getBirthDate(), 'dd/MM/yyyy')}"></p>
        </div>
        <div class="col-6">
            <b>Quantidade de Viagens: </b>
            <p th:text="${customer.getTravels()}"></p>
        </div>
    </div>
    <form class="d-flex mb-4" th:action="@{/customers/{id}/addFood(id=${customer.getId()})}" th:object="${selectedFood}"
          method="post">
        <select class="col-4 me-3" th:field="*{id}">
            <th:block th:each="food : ${foods}">
                <option th:value="${food.getId()}" th:text="${food.getId()} + '-' + ${food.getName()}"></option>
            </th:block>
        </select>
        <button type="submit" class="btn btn-info px-4">Adicionar alimento</button>
    </form>

    <div class="d-flex mb-4">
        <h2 class="me-4">Histórico pedidos atual</h2>
    </div>

    <div class="row border-bottom" th:each="food : ${currentHistory}">
        <div class="col-2">
            <small>id:</small>
            <p th:text="${food.getId()}"></p>
        </div>
        <div class="col-2">
            <small>Nome:</small>
            <p th:text="${food.getName()}"></p>
        </div>
    </div>

    <div class="d-flex mb-4">
        <h2 class="me-4">Histórico de pedidos completo </h2>
    </div>
    <div class="row border-bottom" th:each="food : ${customer.getOrders()}">
        <div class="col-2">
            <small>id:</small>
            <p th:text="${food.getId()}"></p>
        </div>
        <div class="col-2">
            <small>Nome:</small>
            <p th:text="${food.getName()}"></p>
        </div>
    </div>
</div>
</body>
</html>
