<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Cadastro Cliente</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
    <h1 class="display-5 fw-bold text-center" th:text="${update} ? 'Atualização de Cliente' : 'Cadastro de Cliente'"></h1>

    <form class="container" action="#" th:action="@{/customers}" th:object="${customer}" method="POST">
        <input type="hidden" th:field="*{id}" />

        <div class="form-group">
            <label for="name">Nome Completo</label>
            <input id="name" type="text" th:field="*{name}" class="form-control mb-4 col-4" placeholder="Nome completo">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>

        <div class="form-group">
            <label for="birthDate">Data de Nascimento</label>
            <input id="birthDate" type="date" th:field="*{birthDate}" class="form-control mb-4 col-4">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>
        </div>

        <div class="form-group">
            <label for="travels">Número de viagens</label>
            <input id="travels" type="number" th:field="*{travels}" class="form-control mb-4 col-4">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('travels')}" th:errors="*{travels}"></div>
        </div>

        <button type="submit" class="btn btn-info col-2 mx-auto">Cadastrar</button>

    </form>
</body>
</html>
