<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Cadastro Cliente</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<h1 class="display-5 fw-bold text-center" th:text="${update} ? 'Atualização de Alimento' : 'Cadastro de Alimento'"></h1>
<div class="col-lg-6 mx-auto">
    <form th:action="@{/foods}" th:object="${food}" method="POST">

        <input type="hidden" th:field="*{id}" />

        <div class="form-group">
            <label for="name">Nome</label>
            <input id="name" type="text" th:field="*{name}" class="form-control mb-4 col-4" placeholder="Nome">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="form-group">
            <label for="caloricValue">Valor Calorico</label>
            <input id="caloricValue" type="text" th:field="*{caloricValue}" class="form-control mb-4 col-4" placeholder="Valor Calórico">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('caloricValue')}" th:errors="*{caloricValue}"></div>
        </div>

        <div class="form-group">
            <label for="price">Preço</label>
            <input id="price" type="text" th:field="*{price}" class="form-control mb-4 col-4" placeholder="Preço">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
        </div>

        <div class="form-group">
            <label for="brand">Marca</label>
            <input id="brand" type="text" th:field="*{brand}" class="form-control mb-4 col-4" placeholder="Marca">
        </div>


        <button type="submit" class="btn btn-info col-2" th:text="${update} ? 'Atualizar' : 'Cadastrar'"></button>
    </form>
</div>
</body>
</html>
