<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Food Travel</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
    <h1 class="display-3 text-center mt-5 ">Food & Travel</h1>
    <p class="lead text-center">Escolha um menu abaixo para gerenciar os dados:</p>
    <div class="container">
        <div class="row gx-5">
            <a th:href="@{/customers}" class="col d-inline-flex flex-column align-items-center border mx-4 py-4">
                <img  th:src="@{/images/person.svg}" style="width: 8%" alt="Icone Cliente"/>
                <p class="fw-bold fs-4 text-decoration-none">Clientes</p>
            </a>
            <a th:href="@{/foods}" class="col d-inline-flex flex-column align-items-center border mx-4 py-4">
                <img th:src="@{/images/pizza.svg}" style="width: 8%" alt="Icone Cliente"/>
                <p class="fw-bold fs-4 text-decoration-none">Alimentos</p>
            </a>
            <a th:href="@{/report}" class="col d-inline-flex flex-column align-items-center border mx-auto py-4">
                <img  th:src="@{/images/report.svg}" style="width: 8%" alt="Icone Cliente"/>
                <p class="fw-bold fs-4 text-decoration-none">Gerar Relatório</p>
            </a>
        </div>
    </div>
</body>
</html>